#hero {
	display: flex;
	height: calc(100vh - (var(--body-padding) * 3));
	flex-direction: column;
	background: var(--header-gradient);
	justify-content: center;
	position: relative;

	.content {
		z-index: 1;
		position: relative;
		color: var(--white);
		text-align: center;
		transform: translateY(-75%);

		h1 {
			font-size: 5em;
			margin: 0;
		}

		p {
			margin: .75em 0 0;
			font-size: 1.2em;
		}
	}
}

.page {
	padding: 2em;
	z-index: 11;
	transition: all .35s var(--bounce-timing);
	transform: translateY(200%);

	&.active_page {
		transform: translateY(0%);
	}

	&[page="Skills"] {
		display: flex;
		flex-direction: column;

		.shape {
			.content {
				background: var(--gradient-1);
				color: var(--white);
				&::before {
					mix-blend-mode: unset;
					background: url("https://www.transparenttextures.com/patterns/bright-squares.png");
				}
			}
		}

		.callout-trio-container .content {
			background: var(--gradient-1-tr);
		}

		.ab_testing {
			text-align: left;
			background: transparent;

			&::after {
				background: url("https://www.transparenttextures.com/patterns/bright-squares.png"), var(--gradient-1-fl);
				z-index: 0;
			}
			.content {
				color: var(--white);
				background: var(--gradient-1);
				&::before {
					mix-blend-mode: unset;
					background: url("https://www.transparenttextures.com/patterns/bright-squares.png");
				}
			}
		}
		h3 {
			font-size: 1.4em;
		}
	}
}