#hero {
	display: flex;
	height: calc(100vh - (var(--body-padding) * 3));
	flex-direction: column;
	background: var(--header-gradient);
	justify-content: center;
	position: relative;

	.content {
		z-index: 1;
		position: relative;
		color: var(--white);
		text-align: center;
		transform: translateY(-75%);

		h1 {
			font-size: 5em;
			margin: 0;
		}

		p {
			margin: .75em 0 0;
			font-size: 1.2em;
		}
	}
}

.page {
	padding: 2em;
	z-index: 11;
	transition: all .35s var(--bounce-timing);
	transform: translateY(200%);

	&.active_page {
		transform: translateY(0%);
	}

	&[page="Skills"] {
		display: grid;
		grid-template-rows: repeat(auto);
		grid-template-columns: repeat(4, 1fr);

		.shape {
			align-self: center;
		}

		.callout,
		.callout-2,
		.callout-3 {
			.content {
				color: var(--white);
				&::after {
					background: url("https://www.transparenttextures.com/patterns/bright-squares.png"), var(--gradient-1-fl);
				}

				&::before {
					mix-blend-mode: unset;
					background: url("https://www.transparenttextures.com/patterns/bright-squares.png");
				}
			}
		}

		.languages {
			grid-row: 1;
			grid-column: 1 / span 2;
			.content {
				color: var(--white);
				background: var(--gradient-1-fl);
			}
		}

		.design-tools {
			grid-row: 1;
			grid-column: 3 / span 2;
			.title {
				background: var(--gradient-1-fl-rv);
			}
			.content {
				background: var(--gradient-1);
			}
		}

		.ab_testing {
			grid-row: 2;
			text-align: left;
			grid-column: 1 / span 4;
			background: transparent;

			&::after {
				background: url("https://www.transparenttextures.com/patterns/bright-squares.png"), var(--gradient-1-fl);
				z-index: 0;
			}
			.content {
				color: var(--white);
				background: var(--gradient-1);
				text-align: left;
				padding-top: 5em;
				&::before {
					mix-blend-mode: unset;
					background: url("https://www.transparenttextures.com/patterns/bright-squares.png");
				}
			}
		}
		h3 {
			font-size: 1.4em;
		}
	}
}