#hero {
	display: flex;
	height: calc(100vh - (var(--body-padding) * 3));
	flex-direction: column;
	background: var(--header-gradient);
	justify-content: center;
	position: relative;

	.content {
		z-index: 1;
		position: relative;
		color: var(--white);
		text-align: center;
		transform: translateY(-75%);

		h1 {
			font-size: 5em;
			margin: 0;
		}

		p {
			margin: .75em 0 0;
			font-size: 1.2em;
		}
	}
}

.page {
	padding: 2em;
	z-index: 11;
	min-height: 50vh;
	background: var(--red-1);
	transition: all .35s var(--bounce-timing);
	transform: translateY(200%);

	&.active_page {
		transform: translateY(0%);
	}
}