html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-family: proxima-soft, sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		font-style: normal;
		font-family: kapelka-new, script;
	}

	b, strong, .bold {
		font-weight: 700;
	}
}