html {
	box-sizing: border-box;
	background: var(--black);
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: var(--body-padding);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;

	--shape-margin: 10px;
	--shape-width: calc((100% - (var(--shape-margin) * 6)) / 6);
	--shape-offset: var(--shape-width);

	&.hide_menu {
		.shape {
			--shape-width: 50px;
		}
	}

	.body-font, & {
		font-family: var(--body-font);
	}


	.header-font,
	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		font-style: normal;
		font-family: var(--header-font);
	}

	b, strong, .bold {
		font-weight: 700;
	}

	& > #hero {
		border-top-left-radius: var(--header-border-radius); 
		border-top-right-radius: var(--header-border-radius); 
	}

	& > footer {
		border-bottom-left-radius: var(--header-border-radius); 
		border-bottom-right-radius: var(--header-border-radius); 
	}

	& > * {
		margin: var(--body-padding) 0;
	}

	.fade_out, 
	.fade_in { 
		animation-duration: 300ms;
	}

	.fade_out { 
		animation: fade_out;
	}
	.fade_in {
		animation: fade_in;
	}

}

@keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade_out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}